<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://errolazureshowcase.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ce0cb69c-6be9-4aaf-bf0d-c622ab50d15b/resourceGroups/AzureShowcaseRG/providers/Microsoft.Web/sites/ErrolAzureShowcase</ResourceId>
    <UserName>$ErrolAzureShowcase</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://errolazureshowcase.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>